

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  border-bottom: 4px solid black;
  border-radius: 0 0 12px 12px;
  background: rgb(110, 32, 110);
  padding: 12px 18px;
  color: #eeba30;
  margin-left: 180px;
  margin-right: -10px;
}

.header .logo {
  font-size: 20px;
  border-radius: 50%;
  width: 150px;
  /* padding: 1.5em; */
  /* position: centre; */
  /* will-change: filter;
  transition: filter 300ms; */
  max-width: 100%;
  height: auto;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.header .title h1{margin: 0; font-size:18px}

/* Body */
.body{
  display:flex;
  flex: 1
}

/* Side */
.aside{
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: rgb(110, 32, 110);
  padding-top: 100px;
  box-shadow: 2px 0 6px rgba(0,0,0,0.2);
}
.aside nav ul{
  padding: 0;
  list-style: none;
  margin: 0
}
.aside nav li{
  padding: 12px 20px;
  cursor: pointer; 
  color: White;
  transition: background 0.2s;
}

.aside nav li:hover{
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.aside nav li.active {
  background: rgb(110, 32, 110);
  color: #eeba30;
  font-weight:bold;
  border-left: 4px solid #eeba30;
}



/* Main */
.main{
  flex: 1;
  padding: 20px;
  margin-left:220px;
  padding: 20px;
}




